@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mantenimiento Cliente</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>RUC</th>
                <th>Razon Social</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>20100365341</th>
                <th>ADEX</th>
                <th><a class="btn btn-default" href="~/clientes/Index"  >Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>

            <tr>
                <th>20505089198</th>
                <th>ALCARED SAC</th>
                <th><a class="btn btn-default"href="~/clientes/Index">Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>
            <tr>
                <th>20505034024</th>
                <th>AYAVIRI</th>
                <th><a class="btn btn-default" href="~/clientes/Index">Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>
            <tr>
                <th>20501723925</th>
                <th>B&T MEETING</th>
                <th><a class="btn btn-default" href="~/clientes/Index">Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>
            <tr>
                <th>20513074370</th>
                <th>BANCO GNB</th>
                <th><a class="btn btn-default" href="~/clientes/Index">Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>
            <tr>
                <th>20101036813</th>
                <th>BANBIF</th>
                <th><a class="btn btn-default" href="~/clientes/Index">Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>
            <tr>
                <th>20100047218</th>
                <th>BCP</th>
                <th><a class="btn btn-default" href="~/clientes/Index">Datos</a> <a class="btn btn-default">Facturas</a> </th>
            </tr>
        </tbody>
</div>
